<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.pojo.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="tel" property="tel" jdbcType="VARCHAR"/>
        <result column="permission" property="permission" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="headurl" property="headurl" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert" parameterType="com.example.pojo.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (name,tel,permission,username,password,headurl)
        VALUES (#{name}, #{tel}, #{permission}, #{username}, #{password}, #{headurl})
    </insert>

    <select id="queryUserList"  resultMap="BaseResultMap">
        SELECT * FROM
        users
        WHERE 1=1
        <if test="name != null and name != ''">
            AND name  LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="tel != null and tel != ''">
            AND tel LIKE CONCAT('%', #{tel}, '%')
        </if>
    </select>

</mapper>